# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*

# ========================
# Virtual Environment
# ========================
venv/
env/
ENV/
.venv/

# ========================
# Jupyter Notebook
# ========================
.ipynb_checkpoints

# ========================
# Streamlit
# ========================
.streamlit/
.streamlit/config.toml

# ========================
# Dataset (VERY IMPORTANT)
# ========================
*.csv
*.xlsx
*.json
.ipynb_checkpoints/

# ========================
# Model Files
# ========================
*.pkl
*.joblib
*.h5

# ========================
# OS Files
# ========================
.DS_Store
Thumbs.db

# ========================
# Logs
# ========================
logs/
*.log

# ========================
# IDE
# ========================
.vscode/
.idea/

# ========================
# Build
# ========================
dist/
build/

# ========================
# Secrets
# ========================
.env